/*----------------------------------------header---------------------------------------*/
body {
	margin: 0;
	padding: 0;
	position: relative;
	width: auto;
}

#header {
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}
#header div ul {
    max-width: 940px;
    min-height: 227px;
	display: inline-block;
    float: right;
    list-style: none outside none;
    margin: 0 auto;
    max-width: 600px;
    padding: 102px 0 20px;
    text-align: center;
}
#header div ul li {
	display: inline-block;
	margin: 0;
	padding: 8px;
	width: auto;
}
#header div ul li a {
    color: #000000;
	font-family: "Arial Black";
	font-size: 18px;
	font-weight: normal;
	line-height: 14px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: auto;
}
#header div ul li.selected a, #header div ul li.selected a:hover {
	color: #ff0000;
}
#header div ul li a:hover {
	color: #ff0000;
}
#header div ul li ul {
	display: none;
}

/*----------------------------------------body-h-styles---------------------------------------*/

#body {
	border-top: 2px solid #252525;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100%;
}
#body.home div {
	background: none;
	margin: 0;
	max-width: none;
	padding: 0 0 54px;
	width: 100%;
}
h1 {
	background: none;
	margin: 0 auto;
	max-width: 960px;
	padding: 74px 0 0;
}
#body.home div.header div h1 {
	background: none;
	color: #000000;
	display: block;
	font-family: 'Arial Black';
	font-size: 110px;
	font-weight: normal;
	line-height: 96px;
	margin: 0 auto 32px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 89.5833%;
}
#body.home div.header div span {
	display: block;
	margin: 0 auto 52px;
	max-width: 350px;
	overflow: hidden;
	padding: 0;
	width: 37.4583%;
}
#body.home div.header div span a.register {
	border: 2px solid #000000;
	color: #000000;
	display: block;
	float: center;
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	height: 47px;
	line-height: 47px;
	margin: 0;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
	width: 90%;
}

/*----------------------------------------sidenav---------------------------------------*/

.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
}

.sidenav a:hover {
    color: #FF0000;
}

/*----------------------------------------gallery---------------------------------------*/

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}


/*----------------------------------------footer-styles---------------------------------------*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#footer {
	background-color: #111111;
	min-height: 50px;
	padding: 0;
	width: 100%;
	color: #FFFFFF;
	float: left;
	font-family: Arial;
	font-size: 15px;
	font-weight: normal;
	line-height: 15px;
	margin: 0;
	padding: 5px 0 0;
	text-align: left;
}

/*----------------------------------------phone---------------------------------------*/

@media only screen and (max-width : 600px) {

    #body.home div.header div h1 {
	font-size: 50px;
}
    
.sidenav {
        display: none;
    }

.responsive {
        width: 100%;
    }
}